.user-list
  .user-list__container 
    .user-list__heading 
      %h1.user-list__title ユーザー一覧
      %select.user-list__hobby-lists{:name => "hobby"}
        %option{:value => "0"} ---
        %option{:value => "1"} 釣り
        %option{:value => "2"} ゲーム
        %option{:value => "3"} ショッピング
        %option{:value => "4"} プログラミング
      %select.user-list__age-lists{:name => "age"}
        %option{:value => "0"} ---
        %option{:value => "1"} 20代
        %option{:value => "2"} 30代
        %option{:value => "3"} 40代
        %option{:value => "4"} 50代以上
    .user-list__cards 
      = link_to new_user_session_path, class: "user-list__card" do
        = ""
        .user-list__card-container
          .user-list__card-heading 
            = image_tag 'user-icon.jpg', alt: "user-icon", class: "user-list__card-icon"
            .user-list__card-info 
              %h3.user-list__card-name 佐藤花子
              %p.user-list__card-age 26歳
              %p.user-list__card-gender 女性 
          .user-list__card-hobbies
            .user-list__card-hobby 
              %p.user-list__card-hobby-text 料理
            .user-list__card-hobby 
              %p.user-list__card-hobby-text ストレッチ
          %p.user-list__context
            趣味は〇〇です。
            %br
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      = link_to new_user_session_path, class: "user-list__card" do
        = ""
        .user-list__card-container
          .user-list__card-heading 
            = image_tag 'user-icon.jpg', alt: "user-icon", class: "user-list__card-icon"
            .user-list__card-info 
              %h3.user-list__card-name 佐藤花子
              %p.user-list__card-age 26歳
              %p.user-list__card-gender 女性 
          .user-list__card-hobbies
            .user-list__card-hobby 
              %p.user-list__card-hobby-text 料理
            .user-list__card-hobby 
              %p.user-list__card-hobby-text ストレッチ
          %p.user-list__context
            趣味は〇〇です。
            %br
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      = link_to new_user_session_path, class: "user-list__card" do
        = ""
        .user-list__card-container
          .user-list__card-heading 
            = image_tag 'user-icon.jpg', alt: "user-icon", class: "user-list__card-icon"
            .user-list__card-info 
              %h3.user-list__card-name 佐藤花子
              %p.user-list__card-age 26歳
              %p.user-list__card-gender 女性 
          .user-list__card-hobbies
            .user-list__card-hobby 
              %p.user-list__card-hobby-text 料理
            .user-list__card-hobby 
              %p.user-list__card-hobby-text ストレッチ
          %p.user-list__context
            趣味は〇〇です。
            %br
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      = link_to new_user_session_path, class: "user-list__card" do
        = ""
        .user-list__card-container
          .user-list__card-heading 
            = image_tag 'user-icon.jpg', alt: "user-icon", class: "user-list__card-icon"
            .user-list__card-info 
              %h3.user-list__card-name 佐藤花子
              %p.user-list__card-age 26歳
              %p.user-list__card-gender 女性 
          .user-list__card-hobbies
            .user-list__card-hobby 
              %p.user-list__card-hobby-text 料理
            .user-list__card-hobby 
              %p.user-list__card-hobby-text ストレッチ
          %p.user-list__context
            趣味は〇〇です。
            %br
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      = link_to new_user_session_path, class: "user-list__card" do
        = ""
        .user-list__card-container
          .user-list__card-heading 
            = image_tag 'user-icon.jpg', alt: "user-icon", class: "user-list__card-icon"
            .user-list__card-info 
              %h3.user-list__card-name 佐藤花子
              %p.user-list__card-age 26歳
              %p.user-list__card-gender 女性 
          .user-list__card-hobbies
            .user-list__card-hobby 
              %p.user-list__card-hobby-text 料理
            .user-list__card-hobby 
              %p.user-list__card-hobby-text ストレッチ
          %p.user-list__context
            趣味は〇〇です。
            %br
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      = link_to new_user_session_path, class: "user-list__card" do
        = ""
        .user-list__card-container
          .user-list__card-heading 
            = image_tag 'user-icon.jpg', alt: "user-icon", class: "user-list__card-icon"
            .user-list__card-info 
              %h3.user-list__card-name 佐藤花子
              %p.user-list__card-age 26歳
              %p.user-list__card-gender 女性 
          .user-list__card-hobbies
            .user-list__card-hobby 
              %p.user-list__card-hobby-text 料理
            .user-list__card-hobby 
              %p.user-list__card-hobby-text ストレッチ
          %p.user-list__context
            趣味は〇〇です。
            %br
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      = link_to new_user_session_path, class: "user-list__card" do
        = ""
        .user-list__card-container
          .user-list__card-heading 
            = image_tag 'user-icon.jpg', alt: "user-icon", class: "user-list__card-icon"
            .user-list__card-info 
              %h3.user-list__card-name 佐藤花子
              %p.user-list__card-age 26歳
              %p.user-list__card-gender 女性 
          .user-list__card-hobbies
            .user-list__card-hobby 
              %p.user-list__card-hobby-text 料理
            .user-list__card-hobby 
              %p.user-list__card-hobby-text ストレッチ
          %p.user-list__context
            趣味は〇〇です。
            %br
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      = link_to new_user_session_path, class: "user-list__card" do
        = ""
        .user-list__card-container
          .user-list__card-heading 
            = image_tag 'user-icon.jpg', alt: "user-icon", class: "user-list__card-icon"
            .user-list__card-info 
              %h3.user-list__card-name 佐藤花子
              %p.user-list__card-age 26歳
              %p.user-list__card-gender 女性 
          .user-list__card-hobbies
            .user-list__card-hobby 
              %p.user-list__card-hobby-text 料理
            .user-list__card-hobby 
              %p.user-list__card-hobby-text ストレッチ
          %p.user-list__context
            趣味は〇〇です。
            %br
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      = link_to new_user_session_path, class: "user-list__card" do
        = ""
        .user-list__card-container
          .user-list__card-heading 
            = image_tag 'user-icon.jpg', alt: "user-icon", class: "user-list__card-icon"
            .user-list__card-info 
              %h3.user-list__card-name 佐藤花子
              %p.user-list__card-age 26歳
              %p.user-list__card-gender 女性 
          .user-list__card-hobbies
            .user-list__card-hobby 
              %p.user-list__card-hobby-text 料理
            .user-list__card-hobby 
              %p.user-list__card-hobby-text ストレッチ
          %p.user-list__context
            趣味は〇〇です。
            %br
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      = link_to new_user_session_path, class: "user-list__card" do
        = ""
        .user-list__card-container
          .user-list__card-heading 
            = image_tag 'user-icon.jpg', alt: "user-icon", class: "user-list__card-icon"
            .user-list__card-info 
              %h3.user-list__card-name 佐藤花子
              %p.user-list__card-age 26歳
              %p.user-list__card-gender 女性 
          .user-list__card-hobbies
            .user-list__card-hobby 
              %p.user-list__card-hobby-text 料理
            .user-list__card-hobby 
              %p.user-list__card-hobby-text ストレッチ
          %p.user-list__context
            趣味は〇〇です。
            %br
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      = link_to new_user_session_path, class: "user-list__card" do
        = ""
        .user-list__card-container
          .user-list__card-heading 
            = image_tag 'user-icon.jpg', alt: "user-icon", class: "user-list__card-icon"
            .user-list__card-info 
              %h3.user-list__card-name 佐藤花子
              %p.user-list__card-age 26歳
              %p.user-list__card-gender 女性 
          .user-list__card-hobbies
            .user-list__card-hobby 
              %p.user-list__card-hobby-text 料理
            .user-list__card-hobby 
              %p.user-list__card-hobby-text ストレッチ
          %p.user-list__context
            趣味は〇〇です。
            %br
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      = link_to new_user_session_path, class: "user-list__card" do
        = ""
        .user-list__card-container
          .user-list__card-heading 
            = image_tag 'user-icon.jpg', alt: "user-icon", class: "user-list__card-icon"
            .user-list__card-info 
              %h3.user-list__card-name 佐藤花子
              %p.user-list__card-age 26歳
              %p.user-list__card-gender 女性 
          .user-list__card-hobbies
            .user-list__card-hobby 
              %p.user-list__card-hobby-text 料理
            .user-list__card-hobby 
              %p.user-list__card-hobby-text ストレッチ
          %p.user-list__context
            趣味は〇〇です。
            %br
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト

    %ul.user-list__pagenation
      %li.user-list__pagenation-item.user-list__pagenation-prev
        = link_to "<", new_user_session_path, class: "user-list__pagenation-link"
      %li.user-list__pagenation-item
        = link_to "1", new_user_session_path, class: "user-list__pagenation-link"
      %li.user-list__pagenation-item
        = link_to "2", new_user_session_path, class: "user-list__pagenation-link"
      %li.user-list__pagenation-item
        = link_to "3", new_user_session_path, class: "user-list__pagenation-link"
      %li.user-list__pagenation-item.user-list__pagenation-next
        = link_to ">", new_user_session_path, class: "user-list__pagenation-link"


