.sign-in.container
  .sign-in__container 
    .sign-in__heading
      = image_tag 'sing-up.png', alt: "sign-up__thumbnail", class: "sign-in__thumbnail"
      %h2.sign-in__title ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "sign-in__form"}) do |f|
      = render "devise/shared/error_messages", resource: resource
      .sign-in__field 
        %p= f.label :email, "メールアドレス", class: "sign-in__label"
        %p= f.email_field :email, autofocus: true, autocompete: "email", class: "sign-in__input", placeholder: "メールアドレス"
      .sign-in__field 
        %p= f.label :email, "パスワード", class: "sign-in__label"
        %p= f.password_field :password, autocompete: "password", class: "sign-in__input", placeholder: "パスワード"
        %p.password-forget__link パスワードを忘れた方は#{link_to "こちら", new_password_path(resource_name)}
      .sign-in__actions 
        = f.submit "ログイン", class: "sign-in__submit"
        %p.sign-up__link 新規登録は#{link_to "こちら", new_registration_path(resource_name)}
